.stat-grid-parent-element {
  display: grid;
  max-width: 490px;
  grid-template-areas: 
    "a b c d";
    grid-template-columns: 50% 25% 12.5% 12.5%;
}

  .margin{
    margin: 2px;
  }

  .stat-grid-name {
    grid-area: "a";
    justify-content: left;
    align-content: center;
  }
  
  .stat-grid-main {
    grid-area: "b";
    justify-self: center;
    align-content: center;
  }

  .stat-grid-bonus {
    grid-area: "c";
    justify-self: center;
    align-content: center;
  }

  .stat-grid-item {
    grid-area: "d";
    justify-self: center;
    align-content: center;
  }

  .bottom-border{
    border-width: 0px;
    border-style: solid;
    border-bottom-width: 2px;
    border-image: linear-gradient(90deg,blue, green) 1;
  }

  .permanent-boost{
    color: green;
    margin: 2px;
  }
  .item-boost{
    color: darkgreen;
    margin: 2px;
  }
  .bonus-placeholder{
    margin: 2px;
    margin-left: 20px;

  }