.object-container{
    height: 50px;
    min-width: 500px;
    border : 2px;
    margin: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg,rgb(44, 218, 209), rgb(241, 165, 248)) 1;
}