.hp-flex-parent-element {
    display: flex;
    max-width: 580px;

  }
  
  .hp-flex-child-element {
    flex: 1;
    margin: 2px;
  }
  
  .hp-flex-child-element:first-child {
    margin-right: 20px;
  }

  .hp-border{
    border: 2px;
    border-width: 2px;
    border-style: solid;
  }