.hp-grid-parent-element {
    display: grid;
    max-width: 490px;
    grid-template-areas: 
      "a b b c d d d"
      "a b b c e f g" ;
      grid-template-rows: 3fr 1fr;
      grid-template-columns: 10% 20% 15% 10% 15% 15% 15%;
  }

  .hp-grid-label{
    grid-area: a;
    justify-self: stretch;
    align-content: center;
    padding-left: 2px;
  }

  .hp-grid-current{
    grid-area: b;
    justify-self: stretch;
    align-content: center;
  }

  .hp-grid-separator{
    grid-area: c;
    justify-self: center;
    align-content: center;
  }

  .hp-grid-total-max{
    grid-area: d;
    justify-self: center;
    align-self: center;
  }
  .hp-grid-stat-max{
    grid-area: e;
    justify-self: right;
  } 
  .hp-grid-plus{
    grid-area: f;
    justify-self: center;
  } 
   .hp-grid-bonus-max{
    grid-area: g;
    justify-self: left;
  }
  
  .hp-border{
    border: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
  }

  .hp-current{
    font-size: 2rem;
    font-weight: bold;
  }
  .input-hp-current{
    width: 100%;
    text-align: center;
    justify-self: left;
  }

  .hp-stat{
    font-size: 0.75rem;
  }

  .hp-bonus{
    color:green
  }

input{
   box-sizing: border-box;
   width: fit-content;
}