.stat-grid-parent-element {
    display: grid;
    max-width: 490px;
    grid-template: "a b";
    grid-template-columns: 1fr 1fr;
  }

.stat-grid-left{
  grid-area: a;
  margin: 2px;
}
.stat-grid-right{
  grid-area: b;
  margin: 2px;
}
